nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #5DADE2;
}
nav .navbar-brand .purple
{
    color: #A569BD;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/* text for the home screen */
.home-text {
    font-size: 250%;
    color: #348496;
    font-style: italic;
}

/* small text for the home screen */
.home-text-small {
    font-size: 150%;
    color: #348496;
    font-style: italic;
}

/* text for the alarm on the home screen */
.alarm-text {
    font-size: 1000%;
    font-style: normal;
    color: #5DADE2;
}

/* text for lists */
.list-text {
    text-align:left;
    padding-left: 20%;
}

/* big text for the home screen */
.home-text-big {
    font-size: 750%;
    font-style: normal;
    color: #5DADE2;
}

/* light text for the home screen */
.light-text {
    opacity: 0.7;
}

/* width of done button */
.done-width {
    width: 300px;
    margin: auto;
}

/* width of snooze button */
.snooze-width {
    width: 150px;
    margin: auto;
}

/* width for columns */
.column {
    width: 50%;
}

/* padding for rows */
.row {
  padding-left: 6%;
}

/* specifications for boxes */
.box{
  width: 190px;
  height: 100px;
  margin: 5px;
  font-size: 160%;
}

/* specifications for small boxes */
.box-small{
  width: 80px;
  height: 150px;
  margin: 5px;
}

/* specifications for thin boxes */
.box-thin{
  width: 990px;
  height: 60px;
  margin: 5px;
  font-size: 160%;
  color: white;
}
