{% extends "layout.html" %}

{% block title %}
    Set Alarm
{% endblock %}

{% block main %}
    <body onload="elapsedTime({{load_time}})">
        <form action="/edit" method="post">

            <span class="home-text">Your alarm is currently set for</span>
            <br>
            <br>
            <span class="form-group">
                <select class="form-control form-control-lg" name="clock-hour">
                    {% for i in range(1,13) %}
                        {% if i < 10 %}
                            {% if i == current_info["alarm_hours"] %}
                                <option selected>&nbsp;0{{i}}&nbsp;</option>
                            {% else %}
                                <option>&nbsp;0{{i}}&nbsp;</option>
                            {% endif %}
                        {% else %}
                            {% if i == current_info["alarm_hours"] %}
                                <option selected>&nbsp;{{i}}&nbsp;</option>
                            {% else %}
                                <option>&nbsp;{{i}}&nbsp;</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </select>
            </span>
            <span>:</span>
            <span class="form-group">
                <select class="form-control form-control-lg" name="clock-minute">
                    {% for i in range(0,60) %}
                        {% if i < 10 %}
                            {% if i == current_info["alarm_minutes"] %}
                                <option selected>&nbsp;0{{i}}&nbsp;</option>
                            {% else %}
                                <option>&nbsp;0{{i}}&nbsp;</option>
                            {% endif %}
                        {% else %}
                            {% if i == current_info["alarm_minutes"] %}
                                <option selected>&nbsp;{{i}}&nbsp;</option>
                            {% else %}
                                <option>&nbsp;{{i}}&nbsp;</option>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </select>
            </span>
            <span> &nbsp; &nbsp;</span>
            <span class="form-group">
                <select class="form-control form-control-lg" name="clock-am-pm">
                    {% if am_pm == "AM" %}
                        <option selected>AM</option>
                        <option>PM</option>
                    {% else %}
                        <option>AM</option>
                        <option selected>PM</option>
                    {% endif %}
                </select>
            </span>
            <span class="home-text">&nbsp;with</span>
            <br>
            <br>
            <span class="form-group">
                <select class="form-control form-control-lg" name="sleep-hours">
                    {% for i in range(0,21) %}
                        {% if i < 10 %}
                            {% if i == current_info["sleep_hours"] %}
                                <option selected>&nbsp;0{{i}}&nbsp;</option>
                            {% else %}
                                <option>&nbsp;0{{i}}&nbsp;</option>
                            {% endif %}
                        {% else %}
                            {% if i == current_info["sleep_hours"] %}
                                <option selected>&nbsp;{{i}}&nbsp;</option>
                            {% else %}
                                <option>&nbsp;{{i}}&nbsp;</option>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </select>
            </span>
            <span class="home-text">&nbsp;hours and&nbsp;</span>
            <span class="form-group">
                <select class="form-control form-control-lg" name="sleep-minutes">
                    {% for i in range(0,60) %}
                        {% if i < 10 %}
                            {% if i == current_info["sleep_minutes"] %}
                                <option selected>&nbsp;0{{i}}&nbsp;</option>
                            {% else %}
                                <option>&nbsp;0{{i}}&nbsp;</option>
                            {% endif %}
                        {% else %}
                            {% if i == current_info["sleep_minutes"] %}
                                <option selected>&nbsp;{{i}}&nbsp;</option>
                            {% else %}
                                <option>&nbsp;{{i}}&nbsp;</option>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                </select>
            </span>
            <span class="home-text">&nbsp;minutes of sleep.&nbsp;</span>
            <br>
            <br>
            <br>
            <button class="btn btn-info btn-block done-width" type="submit">Done</button>
        </form>
    </body>
{% endblock %}
