{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  <head>
    <script>
      function error(error_code){
        var error_msg = null;
        if(error_code == 1){
          error_msg = "Must provide username.";
        }else if(error_code == 2){
          error_msg = "Must provide password.";
        }else if(error_code == 3){
          error_msg = "Username and/or password is incorrect.";
        }
        if(error_code != 0){
          alert(error_msg);
        }

      }
    </script>
  </head>

  <body onload="error({{error_code}})">
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
  </body>
{% endblock %}
