{% extends "layout.html" %}

{% block title %}
    Set Light
{% endblock %}

{% block main %}



  <head>

  </head>

  <body>
    <div class="home-text-small">Select the number that corresponds to the color you want your lightbulb to turn</div>
    <br>
    <form action="/set-light" method="post">
      <div class="row">
        <div class="box" style="background-color: #ff0000">red</div>
        <div class="box" style="background-color: #ff704d">red-orange</div>
        <div class="box" style="background-color: #ffa500">orange</div>
        <div class="box" style="background-color: #ffa64d">orange-yellow</div>
        <div class="box" style="background-color: #ffc81a">yellow</div>
      </div>
      <div class="row">
        <div class="box" style="background-color: #ffff1a">yellow-green</div>
        <div class="box" style="background-color: #00ff00">green</div>
        <div class="box" style="background-color: #00ff99">green-blue</div>
        <div class="box" style="background-color: #0000ff">blue</div>
        <div class="box" style="background-color: #6600ff">blue-purple</div>
      </div>
      <div class="row">
        <div class="box" style="background-color: #9900cc">purple</div>
        <div class="box" style="background-color: #990099">purple-pink</div>
        <div class="box" style="background-color: #ff6699">pink</div>
        <div class="box" style="border-style: solid; border-color:black; background-color: #ffffff">white</div>
        <div class="box" style="background-color: #ffffcc">warm-white</div>
      </div>

        </div>
      </div>
      <br>
      <select name="color" class="form-control form-control-lg">
          {% for i in colors %}
              <option>{{i}}</option>
          {% endfor %}
      </select>
      <br>
      <br>
      <button class="btn btn-info btn-lg" type="submit"> Submit </button>
      <br>
      <br>
    </form>
  </body>

  <script>
    function addBorder(){

    }
  </script>
{% endblock %}
